/*
////////////////////////////
////// GENERAL /////////////
////////////////////////////
 */
/*
///////////////////////////////////////
////// BRANCH02 STYLES ////////////////
///////////////////////////////////////
 */
/*
////////////////////////////
////// BASE ////////////////
////////////////////////////
 */
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 50px; }

/*
////////////////////////////
////// LINKS & BTNS ////////
////////////////////////////
 */
/*
////////////////////////////
////// LISTS //////////////
////////////////////////////
 */
/*
////////////////////////////
////// TABLES //////////////
////////////////////////////
 */
/*
////////////////////////////
////// IMAGES ////////
////////////////////////////
 */
/*
 ////////////////////////////
 ////// IMAGES GALLERY //////
 ////////////////////////////
  */
/*
////////////////////////////
////// GALLERY /////////////
////////////////////////////
 */
/*
////////////////////////////
////// HEADER //////////////
////////////////////////////
 */
/*
////////////////////////////
////// NAV /////////////////
////////////////////////////
 */
a#currentLink {
  text-decoration: underline; }

#logo_column {
  position: relative;
  background-image: url("../images/logo_rec.svg");
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }
  #logo_column .navbar-brand {
    width: 100%;
    padding-top: 18.18%; }

.nav_home a {
  color: white; }
  .nav_home a:hover {
    color: white; }

.nav_home #mainNav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20%;
  background-color: RGBA(0, 0, 0, 0.25); }

.nav_work a,
.nav_about a,
.nav_contact a,
.nav_terms a,
.nav_credits a,
.nav_all a,
.nav_sculpture a,
.nav_figure a,
.nav_portrait a,
.nav_abstract a,
.nav_wildlife a,
.nav_painting a,
.nav_drawing a {
  color: gray; }

.nav_work #mainNav,
.nav_about #mainNav,
.nav_contact #mainNav,
.nav_terms #mainNav,
.nav_credits #mainNav,
.nav_all #mainNav,
.nav_sculpture #mainNav,
.nav_figure #mainNav,
.nav_portrait #mainNav,
.nav_abstract #mainNav,
.nav_wildlife #mainNav,
.nav_painting #mainNav,
.nav_drawing #mainNav {
  position: relative; }

/* Work Navigation */
#workNav ul,
#workSubNav ul {
  padding: 0;
  margin: 0; }

#workNav.workNav_work li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  padding-top: 50%;
  display: inline-block;
  position: relative; }

#workNav.workNav_work a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  right: 2px;
  color: white; }
  #workNav.workNav_work a:hover {
    text-decoration: none; }
    #workNav.workNav_work a:hover span {
      opacity: 1; }

#workNav.workNav_work .list-sculpture a {
  background-image: url("https://res.cloudinary.com/dpm/image/upload/v1532885000/bmoneypenny/work/bm-28.jpg");
  background-size: cover; }

#workNav.workNav_work .list-all a {
  background-image: url("https://res.cloudinary.com/dpm/image/upload/v1532885000/bmoneypenny/work/bm-58.jpg");
  background-size: cover;
  background-size: 200%;
  background-position-x: center;
  background-position-y: 8%; }

#workNav.workNav_work .list-painting a {
  background-image: url("https://res.cloudinary.com/dpm/image/upload/v1532885000/bmoneypenny/work/bm-47.jpg");
  background-size: 200%;
  background-position-x: center;
  background-position-y: 8%; }

#workNav.workNav_work .list-drawing a {
  background-image: url("https://res.cloudinary.com/dpm/image/upload/v1532885000/bmoneypenny/work/bm-41.jpg");
  background-size: 200%;
  background-position-x: center;
  background-position-y: 20%; }

#workNav.workNav_work span {
  background-color: RGBA(0, 0, 0, 0.4);
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  top: 65%;
  padding: 8px 3px;
  opacity: 1;
  -webkit-transition: .35s;
  transition: .35s; }

.workNav_all,
.workNav_sculpture,
.workNav_painting,
.workNav_drawing,
.workNav_figure,
.workNav_portrait,
.workNav_abstract,
.workNav_wildlife {
  margin-bottom: 20px; }
  .workNav_all li,
  .workNav_sculpture li,
  .workNav_painting li,
  .workNav_drawing li,
  .workNav_figure li,
  .workNav_portrait li,
  .workNav_abstract li,
  .workNav_wildlife li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 25%;
    display: inline-block;
    position: relative;
    text-align: center; }
    .workNav_all li a,
    .workNav_sculpture li a,
    .workNav_painting li a,
    .workNav_drawing li a,
    .workNav_figure li a,
    .workNav_portrait li a,
    .workNav_abstract li a,
    .workNav_wildlife li a {
      display: block;
      padding: 5px 0; }

#workSubNav {
  margin-bottom: 20px; }
  #workSubNav li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 25%;
    display: inline-block;
    position: relative;
    text-align: center; }
    #workSubNav li a {
      display: block;
      padding: 5px 0; }

/*
////////////////////////////
////// MAIN ////////////////
////////////////////////////
 */
#pageHome {
  background-image: url("../images/bg-1-sm.jpg");
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover; }

h1.home_title {
  display: block;
  font-size: 8px;
  color: RGBA(0, 0, 0, 0);
  width: 275px;
  padding-top: 50%;
  background-image: url("../images/logo_sq_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  right: 10%;
  top: 15%; }

.main_work,
.main_all,
.main_sculpture,
.main_drawing,
.main_painting,
.main_figure,
.main_portrait,
.main_abstract,
.main_wildlife {
  padding-top: 25px; }
  .main_work h1,
  .main_all h1,
  .main_sculpture h1,
  .main_drawing h1,
  .main_painting h1,
  .main_figure h1,
  .main_portrait h1,
  .main_abstract h1,
  .main_wildlife h1 {
    display: none; }

/* main about */
.main_about h1 {
  margin: 30px 0; }

/* back-to-top link */
#bttLink {
  display: block;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic; }

/*
////////////////////////////
////// FOOTER //////////////
////////////////////////////
 */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  text-align: center; }

.footer_home {
  color: white; }
  .footer_home a {
    color: white; }

/*
////////////////////////////
////// BEHAVIOR ////////////
////////////////////////////
 */
/*
////////////////////////////
////// SCREENS /////////////
////////////////////////////
 */
@media (min-width: 576px) {
  .justify-content-center {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  #logo_column {
    background-image: url("../images/logo_sq_dark.svg");
    background-size: auto 40px;
    background-position-x: left; }
  #mainNav {
    margin-top: 5px; }
  .nav_home #mainNav {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    background-color: RGBA(0, 0, 0, 0); }
  /* page home */
  #pageHome {
    background-image: url("../images/bg-1.jpg");
    background-position-x: 30%; }
    #pageHome #logo_column {
      background-image: url("../images/logo_sq_light.svg"); } }

@media (min-width: 768px) {
  h1.home_title {
    width: 350px; }
  #mainNav {
    margin-top: 30px; }
  /* work nav */
  #workNav.workNav_work {
    width: 75%;
    margin: 40px auto 0 auto; }
    #workNav.workNav_work a span {
      opacity: 0;
      -webkit-transition: .35s;
      transition: .35s;
      font-size: 40px; }
    #workNav.workNav_work a:hover span {
      opacity: 1; } }

@media (min-width: 992px) {
  h1.home_title {
    right: 20%;
    top: 10%; } }

@media (min-width: 1140px) {
  h1.home_title {
    width: 400px;
    right: 28%;
    top: -8%; } }

@media (min-width: 2000px) {
  h1.home_title {
    right: 35%; } }
