/*
////////////////////////////
////// GENERAL /////////////
////////////////////////////
 */
/*
///////////////////////////////////////
////// BRANCH02 STYLES ////////////////
///////////////////////////////////////
 */
/*
////////////////////////////
////// BASE ////////////////
////////////////////////////
 */
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 50px; }

/*
////////////////////////////
////// LINKS & BTNS ////////
////////////////////////////
 */
a.btt_home {
  display: none; }

/*
////////////////////////////
////// LISTS //////////////
////////////////////////////
 */
/*
////////////////////////////
////// TABLES //////////////
////////////////////////////
 */
/*
////////////////////////////
////// IMAGES ////////
////////////////////////////
 */
/*
 ////////////////////////////
 ////// IMAGES GALLERY //////
 ////////////////////////////
  */
/*
////////////////////////////
////// GALLERY /////////////
////////////////////////////
 */
/*
////////////////////////////
////// HEADER //////////////
////////////////////////////
 */
header {
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px; }

/*
////////////////////////////
////// NAV /////////////////
////////////////////////////
 */
a#currentLink {
  text-decoration: underline; }

/*
////////////////////////////
////// MAIN ////////////////
////////////////////////////
 */
#pageHome {
  background-image: url("../images/bg-1-sm.jpg");
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover; }

h1.home_title {
  display: none; }

#logo_column {
  position: relative;
  top: -30px;
  background-image: url("../images/logo_rec.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }
  #logo_column .navbar-brand {
    width: 100%;
    padding-top: 18.18%; }

.nav_home a {
  color: white; }
  .nav_home a:hover {
    color: white; }

.footer_home {
  color: white; }
  .footer_home a {
    color: white; }

#mainNav {
  background-color: RGBA(0, 0, 0, 0.5); }

/*
////////////////////////////
////// FOOTER //////////////
////////////////////////////
 */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  text-align: center; }

/*
////////////////////////////
////// BEHAVIOR ////////////
////////////////////////////
 */
/*
////////////////////////////
////// SCREENS /////////////
////////////////////////////
 */
@media (min-width: 576px) {
  .justify-content-center {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; } }
